{% extends 'base.html' %}


{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'loglines:logline_list' %}">Loglines</a></li>
    <li class="breadcrumb-item active">{{ object.title }}</li>
</ol>

<h1>{{ object.title }}</h1>

<p><a href="{{ object.user.get_absolute_url }}">{{ object.user.username }}</a></p>

<p><a href="{{ object.get_absolute_url }}">{{ object.updated }}</a></p>

<p>{{ object.body }}</p>

{% if user.is_authenticated and user == object.user %}
<p><a href="{% url 'loglines:logline_update' object.id %}">Update</a></p>
{% endif %}

<p><a href="{% url 'loglines:logline_create' %}">New logline</a></p>

{% if versions %}
<h2>Versions</h2>

<ol reversed>
    {% for v in versions %}
    <li><a href="{% url 'loglines:version_detail' object.id v.id %}">{{ v.field_dict.body }}</a></li>
    {% endfor %}
</ol>
{% endif %}

{% endblock %}