<!DOCTYPE html>

{% load static %}

<html lang="en-us" dir="ltr">
    <head>
        <title>{{ request.site.name }}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ request.site.name }} is where you write a logline with instant feedback.">
    </head>
    <body>
        <header>
            <div><a href="{% url 'home' %}">{{ request.site.name }}</a></div>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'loglines:logline_list' %}">Loglines</a></li>
                <li><a href="{% url 'profiles:profile_list' %}">Writers</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profiles:profile_detail' user.username %}">Profile</a></li>
                    <li><a href="{% url 'accounts:account' %}">Account</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:register' %}">Register</a></li>
                    <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% include 'includes/messages.html' %}
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <small>&copy; {% now 'Y' %} {{ request.site.name }}.</small>
        </footer>
    </body>
</html>