{% extends 'base.html' %}


{% block title %}Password &#183; Account &#183; {{ block.super }}{% endblock %}


{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Account</a></li>
    <li class="breadcrumb-item">Password</li>
</ol>

<h1>Account</h1>

<h2>Password</h2>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error|safe }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'accounts:password' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
</form>

<ul>
    <li><a href="{% url 'accounts:password' %}">Password</a></li>
</ul>

{% endblock %}