{% extends 'base.html' %}


{% block title %}Register &#183; {{ block.super }}{% endblock %}


{% block content %}

<h1>Register</h1>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error|safe }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

<p><a href="{% url 'accounts:login' %}">Login</a></p>

{% endblock %}