{% extends 'base.html' %}


{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'loglines:logline_list' %}">Loglines</a></li>
    <li class="breadcrumb-item"><a href="{{ object.object.get_absolute_url }}">{{ object.field_dict.title }}</a></li>
    <li class="breadcrumb-item active">Version {{ index }}</li>
</ol>

<h1>{{ object.field_dict.title }}</h1>

<p><a href="{{ object.revision.user.get_absolute_url }}">{{ object.revision.user.username }}</a></p>

<p><a href="{% url 'loglines:version_detail' object.object.id object.id %}">{{ object.revision.date_created }}</a></p>

<p>{{ object.field_dict.body }}</p>

{% if diff %}
<p>{{ diff|safe }}</p>
{% endif %}

{% if next_version or previous_version %}
<ul>
    {% if previous_version %}
    <li>Previous: <a href="{% url 'loglines:version_detail' previous_version.object_id previous_version.id %}">{{ previous_version.date_created }}</a></li>
    {% endif %}
    {% if next_version %}
    <li>Next: <a href="{% url 'loglines:version_detail' next_version.object_id next_version.id %}">{{ next_version.date_created }}</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}